<article class="signersDetails">
    {{#if url }}
    <a class="linksSigners" href="{{ url }}" target="_blank" class="name"> <!-- Was ist clearURL helper?-->
        {{ firstname }} {{ lastname }}
    </a>

        {{#if age}}
        <span class="age">({{ age }})</span>
        {{/if}}

    {{else}}
    <span class="name">
        {{ firstname }} {{ lastname }}
        {{#if age}}
        <span class="age">({{ age }})</span>
        {{/if}}
    </span>
    {{/if}}
    
    {{#if city }}
        {{#unless hideCity}}
        <a class="linksSigners" href="/allSigners/{{ city }}" class="city">{{ city }}</a> <!-- Was ist toLowerCase helper?-->
        {{/unless}}
    {{/if}}
    

</article>

