<h1 class="petitionHeading">MINIMAL</h1>


{{#if update}}
<h1>{{update}}</h1>
{{else}}
<h1>update profile</h1>
{{/if}}

{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}


<form action="/profile/edit" method="POST">

  <div class="userRegistration" >

    {{#details}}

        {{#if firstname}}
            <input type="text" name="firstname" id="firstname" value="{{firstname}}"  />
            {{else}}
            <input type="text" name="firstname" id="firstname" placeholder="first name" />
        {{/if}}

        {{#if lastname}}
            <input type="text" name="lastname" id="lastname" value="{{lastname}}" />
            {{else}}
            <input type="text" name="lastname" id="lastname" placeholder="last name" />
        {{/if}}

        {{#if email}}
            <input type="email" name="email" id="email" value="{{email}}" />
            {{else}}
            <input type="email" name="email" id="email" placeholder="email" />
        {{/if}}

        {{#if password_hash}}
          <input type="password" name="password" id="password" placeholder="password" />

 
        {{else}}
            <input type="password" name="password_hash" id="password" placeholder="password" />
        {{/if}}

        {{#if age}}
            <input type="number" name="age" id="age" value="{{age}}" />
            {{else}}
            <input type="number" name="age" id="age" placeholder="age" />
        {{/if}}

        {{#if city}}
            <input type="text" name="city" id="city" value="{{city}}" />
            {{else}}
            <input type="text" name="city" id="city" placeholder="city" />
        {{/if}}

        {{#if url}}
            <input type="url" name="url" id="url" value="{{url}}" />
            {{else}}
            <input type="url" name="url" id="url" placeholder="website" />
        {{/if}}


    {{/details}}

  </div>

  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submitButton" type="submit">update</button>
  </div>

  <div>
      <span class="lineBreak"></span>
      <a class="myLinks" href="/signed">back to your signature</a>
  </div>

  
</form>

