

<h1 class="petitionHeading">MINIMAL</h1>


{{#if signature}}
        <h1 class="h1_signed">you will throw it all away</h1>
        <img src="{{ signature }}" alt="your Signature">
        {{else}}
        <h1>no signature</h1>
        <a class="myLinks" href="/yourSign">sign here</a>
{{/if}}


{{#if error}}
<p class="error">{{ error }}</p>
{{/if}}

<div>
<a class="myLinks" href="/allSigners">see the {{ numbers }} supporter(s)</a>
<span class="lineBreak"></span>
<a class="myLinks" href="/profile/edit">edit your profile</a>

<form action="/signed" method="POST">
  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button class="submitButton" type="submit">delete your signature</button>
  </div>
</form>
</div>



